<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MD Resort Admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>resort.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerLoginController</servlet-name>
    <servlet-class>resort.controller.CustomerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginController</servlet-name>
    <url-pattern>/CustomerLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignupCustomerServlet</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupCustomerServlet</servlet-name>
    <url-pattern>/SignupCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileCustomerController</servlet-name>
    <servlet-class>resort.controller.ProfileCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileCustomerController</servlet-name>
    <url-pattern>/ProfileCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRoomController</servlet-name>
    <servlet-class>resort.controller.AddRoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoomController</servlet-name>
    <url-pattern>/AddRoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditRoomController</servlet-name>
    <servlet-class>resort.controller.EditRoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoomController</servlet-name>
    <url-pattern>/EditRoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRoomController</servlet-name>
    <servlet-class>resort.controller.DeleteRoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoomController</servlet-name>
    <url-pattern>/DeleteRoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmBookingController</servlet-name>
    <servlet-class>resort.controller.ConfirmBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBookingController</servlet-name>
    <url-pattern>/ConfirmBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckAvailabilityController</servlet-name>
    <servlet-class>resort.controller.CheckAvailabilityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAvailabilityController</servlet-name>
    <url-pattern>/CheckAvailabilityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUsernameController</servlet-name>
    <servlet-class>resort.controller.EditUsernameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUsernameController</servlet-name>
    <url-pattern>/EditUsernameController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditEmailController</servlet-name>
    <servlet-class>resort.controller.EditEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmailController</servlet-name>
    <url-pattern>/EditEmailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditPhoneController</servlet-name>
    <servlet-class>resort.controller.EditPhoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPhoneController</servlet-name>
    <url-pattern>/EditPhoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditPasswordController</servlet-name>
    <servlet-class>resort.controller.EditPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPasswordController</servlet-name>
    <url-pattern>/EditPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFoodController</servlet-name>
    <servlet-class>resort.controller.EditFoodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFoodController</servlet-name>
    <url-pattern>/EditFoodController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditServiceController</servlet-name>
    <servlet-class>resort.controller.EditServiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServiceController</servlet-name>
    <url-pattern>/EditServiceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFoodController</servlet-name>
    <servlet-class>resort.controller.DeleteFoodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodController</servlet-name>
    <url-pattern>/DeleteFoodController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditEventController</servlet-name>
    <servlet-class>resort.controller.EditEventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEventController</servlet-name>
    <url-pattern>/EditEventController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEventController</servlet-name>
    <servlet-class>resort.controller.DeleteEventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEventController</servlet-name>
    <url-pattern>/DeleteEventController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>resort.connection.ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationController</servlet-name>
    <servlet-class>resort.controller.ReservationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationController</servlet-name>
    <url-pattern>/ReservationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>resort.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReservationController</display-name>
    <servlet-name>CustomerReservationController</servlet-name>
    <servlet-class>resort.controller.CustomerReservationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReservationController</servlet-name>
    <url-pattern>/CustomerReservationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>resort.controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceReservationController</display-name>
    <servlet-name>ServiceReservationController</servlet-name>
    <servlet-class>resort.controller.ServiceReservationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceReservationController</servlet-name>
    <url-pattern>/ServiceReservationController</url-pattern>
  </servlet-mapping>
 <servlet>
    <description></description>
    <display-name>UpdateBookingController</display-name>
    <servlet-name>UpdateBookingController</servlet-name>
    <servlet-class>resort.controller.UpdateBookingController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdateBookingController</servlet-name>
    <url-pattern>/UpdateBookingController</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>DeleteServiceController</servlet-name>
  <servlet-class>resort.controller.DeleteServiceController</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DeleteServiceController</servlet-name>
  <url-pattern>/DeleteServiceController</url-pattern>
</servlet-mapping>

</web-app>